<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="trrblauncher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <trrblauncher.My.MySettings>
            <setting name="workingdir" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckboxCheckForWowEXE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxSetrealmlist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="raidbuttonWinMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="installuninstall" serializeAs="String">
                <value />
            </setting>
            <setting name="patch" serializeAs="String">
                <value />
            </setting>
            <setting name="ENUS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberAccountName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refreshCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="testing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Usernames" serializeAs="String">
                <value />
            </setting>
            <setting name="Passwords" serializeAs="String">
                <value />
            </setting>
        </trrblauncher.My.MySettings>
    </userSettings>
</configuration>